h1{
	text-align: left;
	margin-bottom: 0;
	margin-top: 0;
}
#dropdown, li{
	background-color: grey;
}
#heading{
	font-size: 200%;
}
#tall{
	height: 1000px;
	background-color: lime;
	margin: 10px 5px 10px 5px;
	
}
#Chicken{
	font-size: 180%;
	text-align: center;
}