h1{
	text-align: left;
	margin-bottom: 0;
	margin-top: 0;
}
#dropdown{
	background-color: grey;
}
#heading{
	font-size: 180%;
}
#tall{
	height: 1000px;
	background-color: lime;
}
#Chicken{
	font-size: 120%;
	text-align: center;
}